*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  inline-size: 1140px;
  gap: 30px;
  align-items: flex-end;
  margin: auto;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  flex-grow: 1;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}